@page
@model ContactModel
@{
    ViewData["Title"] = "Saved Therapist";
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>

    $(document).ready(function () {

        const deleteTherapist = (id) => {
            $.ajax({
                url: `api/saved/${id}`,
                type: 'DELETE',
                success: function (result) {
                     //Do something with the result
                }
            });
        };

        $('body').on('click','.delete', function (e) {
            deleteTherapist(e.target.id);
            e.preventDefault();
        });


        var options = {};
        options.url = "/api/saved";
        options.type = "GET";
        options.dataType = "json";
        options.success = function (data) {

            data.forEach(function (element) {
                console.log(element);
                var firstName = element.firstName;
                var lastName = element.lastName;
                var image = element.img;
                var specialty = element.specialty;
                $("#result").append("<h3>" + firstName + " " + lastName + "</h3>");
                $('<img />')
                    .attr('src', "" + image + "")
                    .width('113px').height('113px')

                    .appendTo($("#result"));
                $("#result").append("<h5>" + specialty + "</h5>");
                $("#result").append("<button class='delete' id=" + element.id + ">" + "Delete" + "</button>").attr;
            });
        };
        options.error = function () {
            $("#msg").html("Error while calling the Web API!");
        };
        $.ajax(options);
    });

</script>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<div id="result"></div>
